* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter';
	color: #333;
}

@font-face {
	font-family: 'Okay Serif Bold';
	src: url('../fonts/Okay Serif Bold.woff') format('woff'),
		url('../fonts/Okay Serif Bold Italic.woff') format('woff');
	font-weight: 400;
	font-display: fallback;
}

input,
textarea,
select,
button {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	border: none;
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
}

button {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 25px;
	gap: 25px;
}

header {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: flex-start;
	padding: 24px;
	gap: 24px;
	border-bottom: 2px solid #767676;
}

#left,
#centre,
#right {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	padding: 0px;
	gap: 24px;
}

#left {
	align-items: flex-start;
	justify-content: start;
}

#left img {
	width: auto;
	height: 50px;
}

#centre {
	align-items: center;
	justify-content: center;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

nav li {
	list-style: none;
}

nav a {
	text-decoration: none;
	font-size: 1.5rem;
}

nav li:hover {
	text-decoration: underline;
}

#right {
	align-items: flex-end;
	justify-content: end;
}

#PrimaryButton {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px;
	background: #333333;
	border-radius: 100px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
}

#SecondaryButton {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px;
	border: 1.5px solid #333333;
	border-radius: 100px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 45px;
	gap: 45px;
	height: 100%;
}

h1 {
	font-family: 'Okay Serif Bold';
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
}

.sections {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 20px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	gap: 12px;
	background: #ffffff;
	border: 1px solid #e1e0e3;
	box-shadow: 0px 8.725px 52.35px #eeeeee;
	border-radius: 16px;
	width: 100%;
}

section h2 {
	font-family: 'Okay Serif Bold';
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
}

section p {
	font-size: 18px;
	line-height: 22px;
}

.sectionHeader {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 5px;
}

h3 {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
}

hr {
	background: #d9d9d9;
	border: 1 solid #d9d9d9;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: 24px;
	padding-bottom: 50px;
	background: #ffffff;
	border-top: 2px solid #767676;
	width: 100%;
}
